
#squad_atualizar table {
    width: 100%;
}

#squad_atualizar_lista .section_resultado_dados {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(39, 39, 39, 0.162);

}

#squad_atualizar_lista .section_resultado_dados>tr {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    width: 100%;
}

#squad_atualizar_lista .section_resultado_dados img {
    margin: 0;
    width: 34px;
}

#squad_atualizar_lista .section_resultado_dados_id {
    width: 20%;
}

#squad_atualizar_lista .section_resultado_dados_tipo {
    width: 20%;
}

#squad_atualizar_lista .section_resultado_dados_nome {
    width: 60%;
}

#squad_atualizar_lista .section_resultado_dados_btn {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

#squad_atualizar_lista .lista_consultas {
    font-family: "VerdanaRegular";
    font-size: 16px;
    color: var(--preto);

    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
}