/*SECTION PROJETO*/
#projeto_atualizar{
    display: flex;
    height: 100vh;
    width: 100%;
}

#projeto_atualizar section{
    width: 100%;
    margin: 0 auto;
    background-image: url(../../assets/images/background_logado.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


#projeto_atualizar .container{
    width: 80%;
    margin: 0 auto;
}


#projeto_atualizar label{
    margin-bottom: 10px;
    
}

#projeto_atualizar .titulo_projeto{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    /*background-color: rebeccapurple;*/
}

#projeto_atualizar label{
    margin-bottom: 10px;
}

#projeto_atualizar h1{
    color: var(--azule);
    font-family: "SpartanBold";
    margin-left: 20px;
    font-size: 45px;
}

#projeto_atualizar .atualizar_e_consultar{
    font-family: "VerdanaRegular";  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin:25px 0px 39px 0px;
   
}

#projeto_atualizar .atualizar_e_consultar a {
    width: 130px;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    
    font-family: "VerdanaRegular";
    font-size: 20px;
    line-height: 34px;
    color: var(--preto);

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

#projeto_atualizar .btn_atualizar:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: var(--azule);
    height: 2px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

#projeto_atualizar .btn_atualizar:hover:before, .btn_atualizar:focus:before, .btn_atualizar:active:before {
    left: 0;
  }

#projeto_atualizar .btn_consultar:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--azule);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

#projeto_atualizar .btn_consultar:hover:before, .btn_consultar:focus:before, .btn_consultar:active:before {
    right: 0;
  }



/*CAMPO PROJETO*/
#projeto_atualizar .input_projeto{
    margin: 40px 0 0;
    font-family: "VerdanaRegular";
    color: var(--preto);
    display: flex;
    flex-direction: column;
}

/* #projeto_atualizar .icon {
    position: absolute;
    padding: 12.5px 20px 7.5px 10px;
    align-items: center;
    color: #474545;
    min-width: 40px;
    font-size: 16px;
} */

#projeto_atualizar .input-icons {
    width: 100%;
    position: relative;
    
}


#projeto_atualizar .input-field {
    height: 40px;
    background: transparent;
    border-radius: 100px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #474545;
    font-family: "VerdanaRegular";
}

/*section calendario*/

#projeto_atualizar .input_criacao{
    width: 30%;
    margin: 10px 0;
    font-family: "VerdanaRegular";
    color: var(--preto);
    display: flex;
    flex-direction: column;
}

#projeto_atualizar .section_calendario{
    display: flex;
   /* background-color: rgb(186, 150, 219);*/
    justify-content: space-between;
}

#projeto_atualizar .input-calendario{
    height: 40px;
    background: transparent;
    border-radius: 100px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #474545;
    font-family: "VerdanaRegular";
}

#projeto_atualizar input[type="date" i] {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "VerdanaRegular";
    width: 100%;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    display: none;
}

/*CAMPO OBJETIVO DO PROJETO*/

#projeto_atualizar .input_objetivo{
    width: 100%;
    margin: 10px 0;
    font-family: "VerdanaRegular";
    color: var(--preto);
    display: flex;
    flex-direction: column;
}

#projeto_atualizar .input_objetivo_projeto{
    background: transparent;
    border-radius: 100px;
    width: 100%;
    padding: 90px 10px 10px 40px;
    border: 1px solid #474545;
}

#projeto_atualizar .campo_objetivo_do_projeto{
    display: flex;
    justify-content: center;
}


#projeto_atualizar textarea{
  /*  font-family: "VerdanaRegular";*/
    width: 100%;
   /* height: 200px;*/
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #474545;
    background: transparent;
   /* resize: none;*/
}


/*Orçamento E Status*/

#projeto_atualizar .section_orcamento_e_status{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-family: "VerdanaRegular";
    color: var(--preto);
}

#projeto_atualizar .input_orcamento,
.select_status{
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: "VerdanaRegular";
}

#projeto_atualizar select{
    width: 100%;
    height: 40px;
    padding: 10px 40px;
    font-family: "VerdanaRegular";
    color: var(--preto);
    border-radius: 40px;
    border: 1px solid #474545;
    background: transparent;
    font-size: 16px;
}

#projeto_atualizar .icon_start{
    width: 30px;
    height: 30px;
}


/*LINK E BUTTON*/

#projeto_atualizar .link_button{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px 0;
}

#projeto_atualizar .link_button img{
    width: 34px;
    height: 34px;
}

#projeto_atualizar .btn_links button{
    border: none;
    background: transparent;
    margin: 0 4px;
}

#projeto_atualizar .fundo_amarelo {
    background-color: var(--amarelo);
}

#projeto_atualizar .section_titulo {
    max-width: 80%;
    display: flex;
    margin: 50px 0;
    font-family: "SpartanBold";
    color: var(--azule);
    font-size: 30px;
}


#projeto_atualizar select {
    -webkit-appearance: none;
}

#projeto_atualizar textarea {
    resize: none;
}

#projeto_atualizar  .icon {
    position: absolute;
    /* padding: 11px 20px 7.5px 10px; */
    margin: 10px 0 0 10px;
    align-items: center;
    color: var(--preto);
    font-size: 20px;
    /* z-index: 1; */
}

/* .input-icons {
    width: 30%;
    margin-top: 10px;
    position: relative;
} */

#projeto_atualizar  .input-field {
    width: 100%;
    background: transparent;
    border-radius: 100px;
    height: 40px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #474545;
}

input[type="date"] {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "VerdanaRegular";
    width: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}